* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Oswald", Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.button {
  background: #333;
  padding: 8px 12px;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}

.accordion-slider {
  width: 100%;
  font-size: 0;
  background: #f5f5f5;
}

.accordion-slider .box.first-box {
  background: #000 url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/434360/underwater-photos.jpg') no-repeat center center;
  background-size: cover;
}

.accordion-slider .box.second-box {
  background: #000 url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/434360/land-photos.jpg') no-repeat center center;
  background-size: cover;
}

.accordion-slider .box.third-box {
  background: #000 url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/434360/watersports-photos.jpg') no-repeat center center;
  background-size: cover;
}

.accordion-slider .box {
  display: block;
  width: 33.333%;
  font-size: 18px;
  min-height: 400px;
  height: 100vh;
  position: relative;
  float: left;
}

.accordion-slider .box > .inner {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.accordion-slider-title {
  color: #fff;
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0;
}

.accordion-slider-content {
  opacity: 0;
  width: 100%;
  max-width: 400px;
  position: relative;
  color: #fff;
}

@media screen and (max-width: 549px) {
  .accordion-slider-title,
  .accordion-slider-content {
    opacity: 1;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .site-footer {
    display: block;
  }
  .accordion-slider .box {
    float: none;
    width: 100%;
    text-align: center;
    min-height: 400px;
    height: 100vh;
  }
  .accordion-slider .box > .inner {
    width: 100%;
  }
}
